header {
  margin-left: 150px;
  margin-bottom: 40px;
}
main {
  margin-left: 150px;
  margin-right: 150px;
}
.headline {
  color: #c50;
}

#busanPrincipal {
  width: 1120px;
  height: 660px;
}
figure {
  text-align: center;
  color: darkslategray;
  margin-bottom: 64px;
  margin-right: 150px;
}

.paragraph {
  color: darkslategray;
  margin-bottom: 40px;
}

footer {
  margin-top: 80px;
  text-align: center;
  margin-left: 150px;
  margin-right: 150px;
}
